// Logo

#logo-group
	z-index            			: 100
	width 						: 6.5em
	position 					: absolute
	bottom  					: 0.5em
	left 						: 0
	transition 					: all .8s ease

#logo  	
	color              			: $g3
	cursor 						: pointer
	transition 					: 0

// Main Menu

.menu
	cursor 						: pointer
	transition 					: all .8s ease
	&:hover
		.elip
			fill 				: #ffffff

.pointer
	cursor 						:  pointer

#main-menu
	position 					: absolute
	right 						: $right
	bottom 						: $bottom
	height 						: 6em
	transition 					: all .8s ease
	text
		font-size 				: $body-text 

#contact-menu
	position 					: absolute
	right 						: $right
	bottom 						: $bottom
	height 						: 6em
	text
		font-size 				: 2.18em
	transition 					: all .8s ease


.elip
	transition 					: all .15s ease
	fill 						: $g3

.lit
	fill 						: #ffffff



// Hire me

#hire-me-et
	transition 					: all .8s ease
	position 					: absolute
	width 						: 10.8em
	right 						: 0
	top 						: $top
	text
		font-size 				: 6.5em
		
	a
		&:hover
			text-decoration 		: none
	
#hire-me
	&:hover
		.elip
			fill 				: white	
			transition 			: all .2s ease
	
.out
	-ms-transform 				: translate(30px,0px)
	-webkit-transform 			: translate(30px,0px)
	transform 					: translate(30px,0px)
	transition 					: all .8s ease
	opacity 					: 0

.out-right
	-ms-transform 				: translate(-30px,0px)
	-webkit-transform 			: translate(-30px,0px)
	transform 					: translate(-30px,0px)
	transition 					: all .8s ease
	opacity 					: 0

#prof
	cursor 						: default
	position 					: absolute
	width 						: 27em
	top 						: $top
	left 						: $left
	text
		font-size 				: 3.3em
		font-weight 			: 900
		color 					: $g3
		transition 				: all .8s ease
	.subhead
		font-size 				: 2.3em
		font-weight 			: 300

#port-copy
	cursor 						: default
	position 					: absolute
	width 						: 29em
	top 						: $top
	left 						: $left
	text
		font-size 				: 3.5em
		font-weight 			: 900
		color 					: $g3
		transition 				: all .8s ease
	.subhead
		font-size 				: 2.5em
		font-weight 			: 300
	.text-bold
		font-size 				: 2.5em
		font-weight 			: 900

#ewe-contain
	display 					: flex
	align-items 				: center
	height 						: 95vh
	width 						: 100%

#ewe
	width 						: 100%
	transition 					: all .8s ease

#contact-box
	position 					: absolute
	right 						: $right
	bottom 						: 10em
	height 						: 8em
	transition 					: all .8s ease

#contact-info 
	font-size 					: 4.5em
	font-weight 				: 900
	color 						: $g3
	transition 					: all .8s ease

#chris,
#space,
#at,
#c,
#john,
#dot,
#design
	transition 					: all .8s ease
	vertical-align 				: super
	display 					: block

.dim
	color 						: $g1
	transition 					: all .8s ease
	opacity 					: .05

#cjd-logo-box
	position 					: absolute
	width 						: 13em
	top 						: $top
	left 						: $left

#cjd-logo
	color 						: $g1

.subhead
	font-size 					: 2.5em
	font-weight 				: 300

			

// Responsive

//Mobile styles
@media (max-width: $screen-sm-max)

	#logo-group
		width 					: 5.5em
		position 				: absolute
		bottom  				: 0.5em
		left 					: 0
	
	#main-menu
		right 					: $xs-right
		bottom 					: $xs-bottom
		height 					: 4.5em

	#hire-me-et
		position 				: absolute
		width 					: 8.7em
		right 					: 0
		top 					: $xs-top
		text
			font-size 			: 6.6em

	#contact-menu
		right 						: $xs-right
		bottom 						: $xs-bottom
		height 						: 4.51em
		text
			font-size 				: 2.18em

	#contact-box
		position 					: absolute
		right 						: $xs-right
		bottom 						: 6.3em
		height 						: 4.68em

	#contact-info 
		font-size 					: 4.5em
		font-weight 				: 900
		color 						: $g3
		transition 					: all .8s ease

	#prof
		width 						: 18.3em
		top 						: $xs-top
		left 						: $xs-left
		text
			font-size 				: 3.5em
			font-weight 			: 900
			color 					: $g3
			transition 				: all .8s ease
		.subhead
			font-size 				: 2.5em
			font-weight 			: 300

	#port-copy
		position 					: absolute
		width 						: 16.3em
		top 						: $xs-top
		left 						: $xs-left
		text
			font-size 				: 3.5em
			font-weight 			: 900
			transition 				: all .8s ease
		.subhead
			font-size 				: 2.5em
			font-weight 			: 300
		.text-bold
			font-size 				: 2.5em
			font-weight 			: 900


	#cjd-logo-box
		width 						: 9em
		top 						: $xs-top
		left 						: $xs-left


@media (min-width: $screen-lg-min)




@media (max-height: $height-sm-min )




//iPhone 5 styles
@media (max-width: $screen-ip5 )

	#logo-group
		width 					: 4.4em

	#main-menu
		height 					: 4em

	#hire-me-et
		width 					: 7.8em

	#prof
		width 					: 14.6em

	#contact-box
		height 					: 4.13em
		bottom 					: 5.5em

	#port-copy
		width 					: 14em

	#contact-menu
		height 					: 4em

// Night-mode Color styles

// .night-mode ~ all color values	
