@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic);
/* line 2, ../components/sass/_base.sass */
html {
  background-color: #F4F6F7;
}

/* line 6, ../components/sass/_base.sass */
body {
  background-color: #F4F6F7;
  color: #DDDEDF;
  font-family: "Lato", san-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

/* line 14, ../components/sass/_base.sass */
a {
  cursor: pointer;
  text-decoration: none;
}
/* line 17, ../components/sass/_base.sass */
a:hover {
  text-decoration: none;
}

/* line 20, ../components/sass/_base.sass */
h1 {
  color: #6dec55;
  font-weight: 700;
}

/* line 24, ../components/sass/_base.sass */
p {
  color: #040707;
  font-weight: 400;
}

/* line 28, ../components/sass/_base.sass */
svg {
  transition: all 0.8s ease;
  display: block;
  position: relative;
}
/* line 32, ../components/sass/_base.sass */
svg text {
  fill: #2C2C2C;
}

/* line 35, ../components/sass/_base.sass */
.g0 {
  fill: #F4F6F7;
}

/* line 38, ../components/sass/_base.sass */
.g1 {
  fill: #DDDEDF;
}

/* line 41, ../components/sass/_base.sass */
.g2 {
  fill: #5A5B5B;
}

/* line 44, ../components/sass/_base.sass */
.g3 {
  fill: #2C2C2C;
}

/* line 46, ../components/sass/_base.sass */
.g4 {
  fill: #040707;
}

/* line 50, ../components/sass/_base.sass */
.poof {
  display: none;
}

/* line 53, ../components/sass/_base.sass */
.ghost {
  opacity: 0;
}

/* line 3, ../components/sass/_layout.sass */
#logo-group {
  z-index: 100;
  width: 6.5em;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  transition: all 0.8s ease;
}

/* line 11, ../components/sass/_layout.sass */
#logo {
  color: #2C2C2C;
  cursor: pointer;
  transition: 0;
}

/* line 18, ../components/sass/_layout.sass */
.menu {
  cursor: pointer;
  transition: all 0.8s ease;
}
/* line 22, ../components/sass/_layout.sass */
.menu:hover .elip {
  fill: #ffffff;
}

/* line 25, ../components/sass/_layout.sass */
.pointer {
  cursor: pointer;
}

/* line 28, ../components/sass/_layout.sass */
#main-menu {
  position: absolute;
  right: 1em;
  bottom: 1.25em;
  height: 6em;
  transition: all 0.8s ease;
}
/* line 34, ../components/sass/_layout.sass */
#main-menu text {
  font-size: 0.75em;
}

/* line 37, ../components/sass/_layout.sass */
#contact-menu {
  position: absolute;
  right: 1em;
  bottom: 1.25em;
  height: 6.5em;
  transition: all 0.8s ease;
}
/* line 42, ../components/sass/_layout.sass */
#contact-menu text {
  font-size: 2.18em;
}

/* line 47, ../components/sass/_layout.sass */
.elip {
  transition: all 0.15s ease;
  fill: #2C2C2C;
}

/* line 51, ../components/sass/_layout.sass */
.lit {
  fill: #ffffff;
}

/* line 58, ../components/sass/_layout.sass */
#hire-me-et {
  transition: all 0.8s ease;
  position: absolute;
  width: 10.8em;
  right: 0;
  top: 1.15em;
}
/* line 64, ../components/sass/_layout.sass */
#hire-me-et text {
  font-size: 6.5em;
}
/* line 68, ../components/sass/_layout.sass */
#hire-me-et a:hover {
  text-decoration: none;
}

/* line 73, ../components/sass/_layout.sass */
#hire-me:hover .elip {
  fill: white;
  transition: all 0.2s ease;
}

/* line 77, ../components/sass/_layout.sass */
.out {
  -ms-transform: translate(30px, 0px);
  -webkit-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
  transition: all 0.8s ease;
  opacity: 0;
}

/* line 84, ../components/sass/_layout.sass */
.out-right {
  -ms-transform: translate(-30px, 0px);
  -webkit-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
  transition: all 0.8s ease;
  opacity: 0;
}

/* line 91, ../components/sass/_layout.sass */
#prof {
  cursor: default;
  position: absolute;
  width: 27em;
  top: 1.15em;
  left: 1em;
}
/* line 97, ../components/sass/_layout.sass */
#prof text {
  font-size: 3.3em;
  font-weight: 900;
  color: #2C2C2C;
  transition: all 0.8s ease;
}
/* line 102, ../components/sass/_layout.sass */
#prof .subhead {
  font-size: 2.3em;
  font-weight: 300;
}

/* line 106, ../components/sass/_layout.sass */
#port-copy {
  cursor: default;
  position: absolute;
  width: 29em;
  top: 1.15em;
  left: 1em;
}
/* line 112, ../components/sass/_layout.sass */
#port-copy text {
  font-size: 3.5em;
  font-weight: 900;
  color: #2C2C2C;
  transition: all 0.8s ease;
}
/* line 117, ../components/sass/_layout.sass */
#port-copy .subhead {
  font-size: 2.5em;
  font-weight: 300;
}
/* line 120, ../components/sass/_layout.sass */
#port-copy .text-bold {
  font-size: 2.5em;
  font-weight: 900;
}

/* line 124, ../components/sass/_layout.sass */
#ewe-contain {
  display: flex;
  align-items: center;
  height: 95vh;
  width: 100%;
}

/* line 130, ../components/sass/_layout.sass */
#ewe {
  width: 100%;
  transition: all 0.8s ease;
}

/* line 134, ../components/sass/_layout.sass */
#contact-box {
  position: absolute;
  right: 1em;
  bottom: 10em;
  height: 10em;
  transition: all 0.8s ease;
}

/* line 141, ../components/sass/_layout.sass */
#contact-info {
  font-size: 4.5em;
  font-weight: 900;
  color: #2C2C2C;
  transition: all 0.8s ease;
}

/* line 147, ../components/sass/_layout.sass */
#chris,
#space,
#at,
#c,
#john,
#dot,
#design {
  transition: all 0.8s ease;
  vertical-align: super;
  display: block;
}

/* line 158, ../components/sass/_layout.sass */
.dim {
  color: #DDDEDF;
  transition: all 0.8s ease;
  opacity: 0.05;
}

/* line 163, ../components/sass/_layout.sass */
#cjd-logo-box {
  position: absolute;
  width: 13em;
  top: 1.15em;
  left: 1em;
}

/* line 169, ../components/sass/_layout.sass */
#cjd-logo {
  color: #DDDEDF;
}

/* line 172, ../components/sass/_layout.sass */
.subhead {
  font-size: 2.5em;
  font-weight: 300;
}

@media (max-width: 991px) {
  /* line 183, ../components/sass/_layout.sass */
  #logo-group {
    width: 5.5em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
  }

  /* line 189, ../components/sass/_layout.sass */
  #main-menu {
    right: 0.75em;
    bottom: 0.75em;
    height: 4.5em;
  }

  /* line 194, ../components/sass/_layout.sass */
  #hire-me-et {
    position: absolute;
    width: 8.7em;
    right: 0;
    top: 0.75em;
  }
  /* line 199, ../components/sass/_layout.sass */
  #hire-me-et text {
    font-size: 6.6em;
  }

  /* line 202, ../components/sass/_layout.sass */
  #contact-menu {
    right: 0.75em;
    bottom: 0.75em;
    height: 4.51em;
  }
  /* line 206, ../components/sass/_layout.sass */
  #contact-menu text {
    font-size: 2.18em;
  }

  /* line 209, ../components/sass/_layout.sass */
  #contact-box {
    position: absolute;
    right: 0.75em;
    bottom: 6.3em;
    height: 4.68em;
  }

  /* line 215, ../components/sass/_layout.sass */
  #contact-info {
    font-size: 4.5em;
    font-weight: 900;
    color: #2C2C2C;
    transition: all 0.8s ease;
  }

  /* line 221, ../components/sass/_layout.sass */
  #prof {
    width: 18.3em;
    top: 0.75em;
    left: 0.75em;
  }
  /* line 225, ../components/sass/_layout.sass */
  #prof text {
    font-size: 3.5em;
    font-weight: 900;
    color: #2C2C2C;
    transition: all 0.8s ease;
  }
  /* line 230, ../components/sass/_layout.sass */
  #prof .subhead {
    font-size: 2.5em;
    font-weight: 300;
  }

  /* line 234, ../components/sass/_layout.sass */
  #port-copy {
    position: absolute;
    width: 16.3em;
    top: 0.75em;
    left: 0.75em;
  }
  /* line 239, ../components/sass/_layout.sass */
  #port-copy text {
    font-size: 3.5em;
    font-weight: 900;
    transition: all 0.8s ease;
  }
  /* line 243, ../components/sass/_layout.sass */
  #port-copy .subhead {
    font-size: 2.5em;
    font-weight: 300;
  }
  /* line 246, ../components/sass/_layout.sass */
  #port-copy .text-bold {
    font-size: 2.5em;
    font-weight: 900;
  }

  /* line 251, ../components/sass/_layout.sass */
  #cjd-logo-box {
    width: 9em;
    top: 0.75em;
    left: 0.75em;
  }
}
@media (max-width: 320px) {
  /* line 270, ../components/sass/_layout.sass */
  #logo-group {
    width: 4.4em;
  }

  /* line 273, ../components/sass/_layout.sass */
  #main-menu {
    height: 4em;
  }

  /* line 276, ../components/sass/_layout.sass */
  #hire-me-et {
    width: 7.8em;
  }

  /* line 279, ../components/sass/_layout.sass */
  #prof {
    width: 14.6em;
  }

  /* line 282, ../components/sass/_layout.sass */
  #contact-box {
    height: 4.13em;
    bottom: 5.5em;
  }

  /* line 286, ../components/sass/_layout.sass */
  #port-copy {
    width: 14em;
  }

  /* line 289, ../components/sass/_layout.sass */
  #contact-menu {
    height: 4em;
  }
}
